@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    font-family: 'Mulish';
}
.orange-color{
    color: #FF5400;
}
.nav-names{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-name{
    display: flex;
    align-items: center;
}
.ul-design{
    list-style:none;
    display: flex;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}
nav ul li{
    margin: 0 20px;
}
.burgerbtn{
    visibility: hidden;
    color: black;
    font-size:36px
}
nav{
    margin: 0 100px;
    background: rgb(179, 229, 196);
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;

}
.explore-your-travel{
    background-image: url('../Images/Group\ 13\ .png');
    height: 500px;
    background-repeat: no-repeat;
    margin: 30px 100px;
    background-size: cover;
    border-radius: 10px
    
}
.heading-explore{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 10px 285px;
    padding-bottom: 0px;
}
.explore-details{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 5px auto;
}
.explore-dropdown{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    margin: 30px 300px;
}
.explore-dropdown input[type='submit']{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
}
.explore-dropdown select {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    height: 50px;
    width: 150px;
    border-radius: 10px ;
    border: none;
    outline: none;
}
@media screen and (max-width:600px){
    *{
        margin: 0px;
    }
    .nav-menu{
        display: none;
    }
    .burgerbtn{
        visibility: visible;
    }
    .heading-explore{
        font-size: 2rem;
        text-align: center;
        padding: 5px 5px;
    }
    .explore-dropdown{
        flex-direction: column;
        margin: 20px 60px;
        padding: 20px 0px;
    }
    .explore-your-travel{
        margin: 15px 100px;
    }
    
}