@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
*{
    font-family: 'Mulish';
}
.orange-color{
    color: #FF5400;
}
.nav-names{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.nav-name{
    display: flex;
    align-items: center;
}
.ul-design{
    list-style:none;
    display: flex;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
}
nav ul li{
    margin: 0 20px;
}
.burgerbtn{
    visibility: hidden;
    color: black;
    font-size:36px
}
nav{
    margin: 0 100px;
    background: rgb(179, 229, 196);
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 10px;

}
.explore-your-travel{
    background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(122, 112, 112, 0.7)), url('../Images/Group\ 13\ .png');
    height: 500px;
    background-repeat: no-repeat;
    margin: 30px 100px;
    background-size: cover;
    border-radius: 10px
    
}
.heading-explore{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 10px 285px;
    padding-bottom: 0px;
}
.explore-details{
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    padding: 5px auto;
}
.explore-dropdown{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    margin: 30px 300px;
}
.explore-dropdown button[type='submit']{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
}
.explore-dropdown select {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    height: 50px;
    width: 150px;
    border-radius: 10px ;
    border: none;
    outline: none;
}
.our-tour{
    margin: 30px 100px;
    display: flex;
    align-items: center;
}
.tour-heading{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}
.tour-list{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    }
.our-tour-button{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    height: 50px;
    width: 150px;
    border: none;
    outline: none;
}
.tour-rules{
    padding-left: 20px;
}
.destination{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}

.destination-country{
    margin: 5px 100px;
    justify-content: space-between;
}
.destination-image{
    width: 100%;
}
.choose-head{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.choose-content{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.cr-flex{
    height: 280px;
    margin: 10px 100px;
    display: flex;
}
.cr1{
    height:200px;
    width: 500px;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 25px 32px;
    margin-left: 60px;
    }
.cr1-text{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.cr1-details{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.cr2{
    height:200px;
    width: 500px;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 25px 32px;
    margin-right: 60px;
}
.cr2-text{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.cr2-details{
        color: #5A5A5D;
        font-family: Mulish;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
}
.cr3{
    height:200px;
    width: 500px;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 25px 32px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 2px auto;
}
.cr3-text{
    color: #131318;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.cr3-details{
    color: #5A5A5D;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.last{
    margin: 10px 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news-form{
    height: 400px;
    width: 450px;
    border: 3px solid #FF5400;
    padding-top: 10px;
    padding-left: 30px;
    border-radius: 8px;
    padding-right: 140px;
}
.news-letter{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
.newsletter-details{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
}
input{
    font-size: 20px;
    margin: 5px auto;
}
.news-form input[type="text"]{
    background: rgba(19, 19, 24, 0.05);
    width: 540px;
    height: 52px;
    border-radius: 8px;
}
.news-form input[type="submit"]{
    width: 544px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFFFFF;
}
@media screen and (max-width:600px){
    *{
        margin: 0px;
    }
    .nav-menu{
        display: none;
    }
    .burgerbtn{
        visibility: visible;
    }
    .heading-explore{
        font-size: 2rem;
        text-align: center;
        padding: 5px 5px;
    }
    .explore-dropdown{
        flex-direction: column;
        margin: 20px 60px;
        padding: 20px 0px;
    }
    .explore-your-travel{
        margin: 15px 100px;
    }
    .our-tour{
        flex-direction: column;
    }
    .tour-image{
        margin: 15px 100px;
    }
    .tour-list{
        line-height: 30px;
    }
    .destination-country{
        flex-direction: column;
        justify-content: center;
        margin: 0 50px;
    }
    .destination-country img{
        width: 100%;
    }
    .cr-flex{
        flex-direction: column;
        margin-left: 20px
    }
    .cr1{
        margin-left: 0px;
    }
    .cr2{
        margin-top: 25px;
    }
    .choosing-reason{
        height: 700px;
    }
    .cr3{
        margin-top:230px;
    }
    .last{
        flex-direction: column;
        margin-top: 90px;
    }
    .last-image{
        margin-top: 10px;
    }
    
}